<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실시간 TOP NEWS</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="wrap">
      <main>
        <div class="news-title-box">
          <button>업데이트</button>
          <ul>
            <% newsArticles.forEach((news, index) => { %>
              <li <%= index === 0 ? 'class=selected' : '' %>>
                <a href="news/<%= news.source.id %>"><%= news.title %></a>
              </li>
            <% }); %>
          </ul>
        </div>
        <div class="news-content-box">
          <h2><%= newsArticles[0].title%></h2>
          <p><%= newsArticles[0].content %></p>
        </div>
      </main>
    </div>
    <script type="module" src="/js/home.js"></script>
  </body>
</html>
